Repository ava-labs/firewood, pull requests merged in 2025-07, with the labels that each got.

#1010 perf: Allow cloned proposals
  firewood/src/db.rs
  firewood/src/v2/api.rs
Labels: performance

#1011 chore: Clippy pushdown
  firewood/src/db.rs
  firewood/src/merkle.rs
  firewood/src/stream.rs
  storage/src/nodestore.rs
Labels: documentation, rust, storage, techdebt

#1013 ci: Check for metrics changes
  .github/workflows/metrics-check.yaml
Labels: devops

#1047 feat(delayed-persist): Part 2.2: Branch Children
  firewood/src/merkle.rs
  firewood/src/stream.rs
  storage/src/node/branch.rs
  storage/src/node/persist.rs
  storage/src/nodestore.rs
Labels: performance

#1049 style: Remove unnecessary error descriptor
  ffi/memory.go
Labels: go

#1048 chore: Split nodestore into functional areas
  storage/src/checker.rs
  storage/src/lib.rs
  storage/src/nodestore.rs
  storage/src/nodestore/alloc.rs
  storage/src/nodestore/hash.rs
  storage/src/nodestore/header.rs
  storage/src/nodestore/mod.rs
  storage/src/nodestore/persist.rs
Labels: enhancement

#1053 chore: update `golangci-lint`
  .github/.golangci_yaml_expected_changes.txt
  .github/scripts/verify_golangci_yaml_changes.sh
  .github/workflows/ci.yaml
  .github/workflows/expected-golangci-yaml-diff.yaml
  ffi/.golangci.yaml
  ffi/metrics.go
  ffi/metrics_test.go
Labels: devops

#1076 fix: root_hash_reversed_deletions duplicate keys
  firewood/src/merkle.rs
Labels: bug, testing, rust

#1096 feat(async-iterator): Implement
  firewood/src/db.rs
Labels: enhancement

#1109 feat: Render the commit sha in fwdctl
  fwdctl/build.rs
  fwdctl/src/main.rs
  fwdctl/tests/cli.rs
Labels: enhancement

#1118 test: add fuzz testing for checker, with fixes
  firewood/src/db.rs
  storage/src/checker/mod.rs
  storage/src/lib.rs
  storage/src/node/path.rs
Labels: bug, testing

#1141 chore: Add a golang install script
  benchmark/setup-scripts/install-golang.sh
Labels: testing

#1115 test: Port TestDeepPropose from go->rust
  firewood/src/db.rs
Labels: testing
