Repository ava-labs/firewood, pull requests merged in 2025-08, with the labels that each got.

#1161 feat(fwdctl): Add support for dump formats
  firewood/src/db.rs
  firewood/src/manager.rs
  firewood/src/merkle.rs
  firewood/src/merkle/tests/mod.rs
  firewood/src/stream.rs
  fwdctl/src/dump.rs
Labels: enhancement

#1186 test: Add read-during-commit test
  firewood/Cargo.toml
  firewood/src/db.rs
Labels: testing

#1189 fix(fwdctl)!: db path consistency + no auto-create
  firewood/src/db.rs
  firewood/src/manager.rs
  fwdctl/Cargo.toml
  fwdctl/README.md
  fwdctl/src/check.rs
  fwdctl/src/create.rs
  fwdctl/src/delete.rs
  fwdctl/src/dump.rs
  fwdctl/src/get.rs
  fwdctl/src/graph.rs
  fwdctl/src/insert.rs
  fwdctl/src/main.rs
  fwdctl/src/root.rs
  fwdctl/tests/cli.rs
  storage/src/linear/filebacked.rs
  storage/src/nodestore/persist.rs
Labels: bug

#1190 chore: fwdctl cleanups
  fwdctl/src/dump.rs
Labels: 3rd party contributor
