Repository ava-labs/firewood, pull requests merged in 2025-05, with the labels that each got.

#862 fix(ffi): prevent memory leak and tips for finding leaks
  ffi/README.md
  ffi/firewood.go
Labels: bug, documentation, go

#860 feat(ffi): ffi error messages
  ffi/firewood.go
  ffi/firewood_test.go
  ffi/kvbackend.go
  ffi/src/lib.rs
Labels: enhancement, rust, go

#866 fix(src): drop unused revisions
  firewood/src/db.rs
  firewood/src/manager.rs
Labels: bug, testing, rust

#876 Disable metrics during ffi unit tests
  ffi/firewood_test.go
Labels: testing

#895 Fix tag handling for attach static libs
  .github/workflows/attach-static-libs.yaml
Labels: bug

#894 fix(ffi): prevent undefined behavior on empty slices
  ffi/firewood_test.go
  ffi/src/lib.rs
Labels: bug, rust, go

#893 ci(ffi): add linter
  .github/workflows/ci.yaml
  ffi/.golangci.yaml
  ffi/firewood.go
  ffi/firewood_test.go
  ffi/kvbackend.go
  ffi/memory.go
  ffi/proposal.go
  ffi/revision.go
Labels: testing, go

#891 Update FFI tests to test both default firewood + ethhash
  .github/workflows/attach-static-libs.yaml
  .github/workflows/ci.yaml
  ffi/Cargo.toml
  ffi/README.md
  ffi/firewood_test.go
  ffi/tests/eth_compatibility_test.go
Labels: testing, c-chain
