Repository ava-labs/firewood, pull requests merged in 2025-09, with the labels that each got.

#1254 chore: Add missing debug traits
  storage/src/hashednode.rs
Labels: techdebt

#1276 fix: Correct typo in README.md
  README.md
Labels: 3rd party contributor

#1283 docs: README implies commit == persist
  Cargo.toml
  ffi/src/logging.rs
  firewood/src/lib.rs
  fwdctl/src/check.rs
  fwdctl/src/create.rs
Labels: documentation

#1287 test(bootstrap): Bootstrap testing scripts
  benchmark/bootstrap/README.md
  benchmark/bootstrap/aws-launch.sh
  benchmark/cloud-config.txt
Labels: testing

#1296 chore: upgrade go
  ffi/go.mod
  ffi/tests/eth/go.mod
  ffi/tests/firewood/go.mod
Labels: dependencies, go

#1308 chore: Add support for enormous disk
  benchmark/bootstrap/aws-launch.sh
  benchmark/setup-scripts/build-environment.sh
Labels: testing, performance
