Repository ava-labs/firewood, pull requests merged in 2025-06, with the labels that each got.

#926 refactor(ffi): Cleanup unused and duplicate code
  ffi/firewood.go
  ffi/firewood_test.go
  ffi/kvbackend.go
  ffi/memory.go
  ffi/proposal.go
Labels: low priority, go

#931 Remove duplicated comments in nodestore.rs
  storage/src/nodestore.rs
Labels: documentation, intern project

#934 chore: Bump to v0.5.0
  .github/check-license-headers.yaml
  .github/workflows/ci.yaml
  CHANGELOG.md
  RELEASE.md
  benchmark/Cargo.toml
  cliff.toml
  ffi/Cargo.toml
  firewood/Cargo.toml
  fwdctl/Cargo.toml
  storage/Cargo.toml
Labels: devops

#961 fix: improve ethhash warning message
  storage/src/hashers/ethhash.rs
Labels: bug, rust

#962 chore: Set up for publishing to crates.io
  .github/workflows/publish.yaml
  benchmark/Cargo.toml
  benchmark/cloud-config.txt
  ffi/Cargo.toml
  firewood/Cargo.toml
  firewood/benches/hashops.rs
  firewood/src/db.rs
  firewood/src/lib.rs
  firewood/src/manager.rs
  firewood/src/merkle.rs
  firewood/src/proof.rs
  firewood/src/range_proof.rs
  firewood/src/stream.rs
  firewood/src/v2/api.rs
  fwdctl/Cargo.toml
  grpc-testtool/Cargo.toml
  storage/Cargo.toml
  storage/benches/serializer.rs
  triehash/Cargo.toml
  triehash/benches/triehash.rs
  triehash/src/lib.rs
Labels: devops

#968 chore: remove remnants of no-std
  triehash/Cargo.toml
  triehash/src/lib.rs
Labels: low priority, rust

#957 build: move lints to the workspace
  .github/workflows/ci.yaml
  .github/workflows/default-branch-cache.yaml
  Cargo.toml
  benchmark/Cargo.toml
  benchmark/README.md
  benchmark/src/create.rs
  benchmark/src/main.rs
  benchmark/src/single.rs
  benchmark/src/tenkrandom.rs
  benchmark/src/zipf.rs
  ffi/Cargo.toml
  ffi/src/lib.rs
  firewood/Cargo.toml
  firewood/benches/hashops.rs
  firewood/src/db.rs
  firewood/src/lib.rs
  firewood/src/manager.rs
  firewood/src/merkle.rs
  firewood/src/proof.rs
  firewood/src/stream.rs
  firewood/src/v2/api.rs
  firewood/src/v2/emptydb.rs
  firewood/src/v2/propose.rs
  firewood/tests/common/mod.rs
  fwdctl/Cargo.toml
  fwdctl/src/create.rs
  fwdctl/src/delete.rs
  fwdctl/src/dump.rs
  fwdctl/src/get.rs
  fwdctl/src/graph.rs
  fwdctl/src/insert.rs
  grpc-testtool/Cargo.toml
  storage/Cargo.toml
  storage/benches/serializer.rs
  storage/src/hashednode.rs
  storage/src/hashers/ethhash.rs
  storage/src/hashers/merkledb.rs
  storage/src/lib.rs
  storage/src/linear/filebacked.rs
  storage/src/linear/memory.rs
  storage/src/linear/mod.rs
  storage/src/logger.rs
  storage/src/node/branch.rs
  storage/src/node/mod.rs
  storage/src/node/path.rs
  storage/src/nodestore.rs
  storage/src/trie_hash.rs
  triehash/Cargo.toml
  triehash/benches/triehash.rs
  triehash/src/lib.rs
Labels: bug

#969 style: use cbindgen to convert to pointers
  ffi/firewood.h
  ffi/src/lib.rs
Labels: rust

#936 feat(checker): Firewood checker framework
  firewood/src/merkle.rs
  firewood/src/proof.rs
  firewood/src/v2/api.rs
  fwdctl/Cargo.toml
  fwdctl/src/check.rs
  fwdctl/src/main.rs
  fwdctl/tests/cli.rs
  storage/Cargo.toml
  storage/src/checker.rs
  storage/src/hashednode.rs
  storage/src/lib.rs
  storage/src/linear/filebacked.rs
  storage/src/node/branch.rs
  storage/src/nodestore.rs
  storage/src/range_set.rs
Labels: enhancement

#1005 fix: Report IO errors
  storage/src/nodestore.rs
Labels: bug
